-r requirements-build.in

Pygments==2.8.1
Werkzeug==1.0.1
bandit==1.7.0
black==19.10b0
coverage==5.5
django-debug-toolbar==3.2
django-extensions==3.1.1
docker-compose==1.28.6
fabric==2.6.0
invoke==1.5.0
ipdb==0.13.7
ipython==7.22.0
isort==5.8.0
model-bakery==1.2.1
pip-tools==6.0.1
pre-commit==2.11.1
pylama==7.7.1
pylint-celery==0.3
pylint-django==2.4.2
pylint==2.7.2
pytest-cov==2.11.1
pytest-django==4.1.0
pytest-mock==3.5.1
pytest==6.2.2
radon==4.5.0
safety==1.10.3
ddrr
